- content_for :title do
  About the ARiA

%h3.large-offset-1.small-offset-1 About the ARiA

.row
  .twelve.columns.text-center
    .th.raduis
      = image_tag('http://pic.pimg.tw/batte1124/normal_e07f49e85aa63c721877d227fff4cd6c.jpg')

.row
  %h4.large-offset-1.small-offset-1 A: All-in account
  %p.large-8.large-offset-2.small-offset-2
    You can use google(+), facebook, plurk, twitter to login this system.
    You can also combine the account together by this system if you want to work with these websites.
  %h4.large-offset-1.small-offset-1 R: Registration system
  %p.large-8.large-offset-2.small-offset-2
    This system has a full member data record (maybe? I'm not familiar when I create the table).
    But the registration is not complete work.
  %h4.large-offset-1.small-offset-1 I: Identification Level
  %p.large-8.large-offset-2.small-offset-2
    I'll use NT-like user group or unix-like number to let you seperate levels.
    It the function is fuller, I'll let developer to create custom user group or custom number authorization.
  %h4.large-offset-1.small-offset-1 A: Authorization Service
  %p.large-8.large-offset-2.small-offset-2
    If you use this website's api, you can easy create an Oauth token to let your service connect to system.
    
  
