%h2.large-offset-1 ARiA Membership System
%hr
.row
  = link_to image_tag('http://i.imgur.com/8xAoHTQ.jpg'), about_path, class: 'th radius'

%hr
.row
  %h4.large-offset-1.small-offset-1 Welcome to ARIA membership system.
  %p.large-8.large-offset-2.small-offset-2 This system will provide you to use google, facebook, plurk, twitter account to login.
  %p.large-8.large-offset-2.small-offset-2 If you are the developer, you can use the website's Oauth api to let your app or service having a member system.
  %p.large-8.large-offset-2.small-offset-2 If you are the manager, we'll provide you more functioning member authorization and identification.

%hr
.row
  %h4.large-offset-1.small-offset-1 How do we start?
  %p.large-8.large-offset-2.small-offset-2 Just click the "login" or "sign up" button on the right of the top menu. (Mobile user would wait for side-menu exist after touch the top right button.)
  %p.large-8.large-offset-2.small-offset-2 p.s. We would let the administrator or root to change itselves Authorization by changeing the value of database, so be aware of your database and your database backuper.
