.row
  &nbsp;
.row
  .small-6.large-8.columns
    %small 
      ARiA membership system.
      %br
      Developed by 
      %a{:href => "http://github.com/s890081tonyhsu"}<OtomeSound
      %br 
      This project is also on 
      %a{:href => "http://github.com/s890081tonyhsu/ARIA-System"}<Github
  .small-6.large-4.columns
    = link_to image_tag('http://www.sleepwalker.jp/uploads/ARiA_SS_3.jpg',size: "81", class: ""), 'http://github.com/s890081tonyhsu', class: 'th radius small-centered'
    %small Just a developer who likes to DIY some apps.
.row
  &nbsp;
